groups:
  - name: security_rules
    rules:
      - alert: CriticalCPUUsage
        expr: sum(rate({job="metrics"} | json | name="cpu_seconds_total" | unwrap counter_value [1m])) * 100 > 90
        for: 1m
        labels:
          severity: critical
        annotations:
          summary: "High CPU Usage Detected (Host)"
          description: "Host CPU is above 90% for more than 1 minute."

      - alert: AIAnomalyDetected
        expr: |
          {source="panopt-ai", level="warning"}
        for: 0m
        labels:
          severity: warning
        annotations:
          summary: "AI Triggered Anomaly"
          description: "Panopt AI Engine has detected an anomaly."
